Season 17 - Katie's season. CSV was created with web mining techniques found on 'Web Scraping' notebook.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Season17.csv')

In [3]:
df

,Name,Age,Occupation,City,State,Season,Region
0,Blake Moynes,30,Wildlife Manager,Hamilton,Ontario,17,Other
1,Justin Glaze,26,Investment Sales Consultant,Ellicott City,Maryland,17,South
2,Greg Grippo,27,Marketing Sales Representative,Edison,New Jersey,17,Other
3,Michael Allio,36,Business Owner,Akron,Ohio,17,Midwest
4,Andrew Spencer,26,Pro Football Player,Lake Villa,Illinois,17,Midwest
5,Mike Planeta,31,Gym Owner,Surprise,Arizona,17,West
6,Brendan Scanzano,26,Firefighter Trainee,Toronto,Ontario,17,Other
7,Aaron Clancy,26,Insurance Agent,Walnut,California,17,West
8,Hunter Montgomery,34,Software Strategist,San Angelo,Texas,17,South
9,James Bonsall,30,Software Salesman,La Jolla,California,17,West
10,Tre Cooper,26,Software Engineer,Covington,Georgia,17,South
11,Connor Brennan,29,Math Teacher,Columbia,Illinois,17,Midwest
12,Andrew Milcovich,31,Deputy District Attorney,Walnut Creek,California,17,West
13,Josh Tylerbest,25,IT Consultant,Pembroke Pines,Florida,17,South
14,Quartney Mixon,26,Nutrition Entrepreneur,McKinney,Texas,17,South
15,Christian Smith,26,Real Estate Agent,Newburyport,Massachusetts,17,Northeast
16,Conor Costello,28,Former Baseball Player,Edmond,Oklahoma,17,South
17,David Scott,27,Technical Product Specialist,Nashville,Tennessee,17,South
18,Thomas Jacobs,28,Real Estate Broker,Poway,California,17,West
19,Garrett Schwartz,29,Software Marketing Manager,Salinas,California,17,West
20,John Hersey,27,Bartender,Santa Cruz,California,17,West
21,Karl Smith,34,Motivational Speaker,Miami,Florida,17,South
22,Kyle Howard,26,Technical Recruiter,Sarasota,Florida,17,South
23,Cody Menk,27,Zipper Sales Manager,Montclair,New Jersey,17,Other
24,Austin Tinsley,25,Real Estate Investor,Mission Viejo,California,17,West
25,Brandon Torres,26,Auto Parts Manager,Mokena,Illinois,17,Midwest
26,Gabriel Everett,35,Entrepreneur,Charlotte,North Carolina,17,Other
27,Jeff Caravello,31,Surgical Skin Salesman,Cranford,New Jersey,17,Other
28,Landon Goesling,25,Basketball Coach,Coppell,Texas,17,South
29,Marcus Lathan,30,Real Estate Broker,Vancouver,Washington,17,West
30,Marty Hargrove,25,Dancer,Reno,Nevada,17,West

In [4]:
Northeast = ('Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont',
            'New Jersey', 'New York', 'Pennsylvania')
Midwest = ('Indiana', 'Illinois', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri',
          'Nebraska', 'North Dakota', 'South Dakota')
South = ('Delaware', 'DC', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia',
        'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma',
        'Texas')
West = ('Arizona', 'Colorado', 'Idaho', 'New Mexico', 'Montana', 'Utah', 'Nevada', 'Wyoming', 'Alaska', 'California',
       'Hawaii', 'Oregon', 'Washington')

In [5]:
for index, row in df.iterrows():
    if row['State'] in Northeast:
        df.loc[index, 'Region'] = "Northeast"
        print('Northeast')
    elif row['State'] in Midwest:
        print('Midwest')
        df.loc[index, 'Region'] = "Midwest"
    elif row['State'] in South:
        print('South')
        df.loc[index, 'Region'] = "South"
    elif row['State'] in West:
        print('West')
        df.loc[index, 'Region'] = "West"
    else:
        print('Other')
        df.loc[index, 'Region'] = "Other"

Other
South
Northeast
Midwest
Midwest
West
Other
West
South
West
South
Midwest
West
South
South
Northeast
South
South
West
West
West
South
South
Northeast
West
Midwest
South
Northeast
South
West
West

In [6]:
df

,Name,Age,Occupation,City,State,Season,Region
0,Blake Moynes,30,Wildlife Manager,Hamilton,Ontario,17,Other
1,Justin Glaze,26,Investment Sales Consultant,Ellicott City,Maryland,17,South
2,Greg Grippo,27,Marketing Sales Representative,Edison,New Jersey,17,Northeast
3,Michael Allio,36,Business Owner,Akron,Ohio,17,Midwest
4,Andrew Spencer,26,Pro Football Player,Lake Villa,Illinois,17,Midwest
5,Mike Planeta,31,Gym Owner,Surprise,Arizona,17,West
6,Brendan Scanzano,26,Firefighter Trainee,Toronto,Ontario,17,Other
7,Aaron Clancy,26,Insurance Agent,Walnut,California,17,West
8,Hunter Montgomery,34,Software Strategist,San Angelo,Texas,17,South
9,James Bonsall,30,Software Salesman,La Jolla,California,17,West
10,Tre Cooper,26,Software Engineer,Covington,Georgia,17,South
11,Connor Brennan,29,Math Teacher,Columbia,Illinois,17,Midwest
12,Andrew Milcovich,31,Deputy District Attorney,Walnut Creek,California,17,West
13,Josh Tylerbest,25,IT Consultant,Pembroke Pines,Florida,17,South
14,Quartney Mixon,26,Nutrition Entrepreneur,McKinney,Texas,17,South
15,Christian Smith,26,Real Estate Agent,Newburyport,Massachusetts,17,Northeast
16,Conor Costello,28,Former Baseball Player,Edmond,Oklahoma,17,South
17,David Scott,27,Technical Product Specialist,Nashville,Tennessee,17,South
18,Thomas Jacobs,28,Real Estate Broker,Poway,California,17,West
19,Garrett Schwartz,29,Software Marketing Manager,Salinas,California,17,West
20,John Hersey,27,Bartender,Santa Cruz,California,17,West
21,Karl Smith,34,Motivational Speaker,Miami,Florida,17,South
22,Kyle Howard,26,Technical Recruiter,Sarasota,Florida,17,South
23,Cody Menk,27,Zipper Sales Manager,Montclair,New Jersey,17,Northeast
24,Austin Tinsley,25,Real Estate Investor,Mission Viejo,California,17,West
25,Brandon Torres,26,Auto Parts Manager,Mokena,Illinois,17,Midwest
26,Gabriel Everett,35,Entrepreneur,Charlotte,North Carolina,17,South
27,Jeff Caravello,31,Surgical Skin Salesman,Cranford,New Jersey,17,Northeast
28,Landon Goesling,25,Basketball Coach,Coppell,Texas,17,South
29,Marcus Lathan,30,Real Estate Broker,Vancouver,Washington,17,West
30,Marty Hargrove,25,Dancer,Reno,Nevada,17,West

In [7]:
df.to_csv(r'Season17.csv', header = True, index = False)

Adding Lead Information

In [9]:
lead_name = ['Katie Thurston'] * 31
lead_age = [30] * 31
lead_city = ['Renton'] * 31
lead_state = ['Washington'] * 31
lead_region = ['West'] * 31
lead_occupation = ['Bank Marketing Manager'] * 31

In [10]:
df['Lead Name'] = lead_name
df['Lead Age'] = lead_age
df['Lead City'] = lead_city
df['Lead State'] = lead_state
df['Lead Region'] = lead_region
df['Lead Occupation'] = lead_occupation

In [11]:
df.head()

,Name,Age,Occupation,City,State,Season,Region,Lead Name,Lead Age,Lead City,Lead State,Lead Region,Lead Occupation
0,Blake Moynes,30,Wildlife Manager,Hamilton,Ontario,17,Other,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager
1,Justin Glaze,26,Investment Sales Consultant,Ellicott City,Maryland,17,South,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager
2,Greg Grippo,27,Marketing Sales Representative,Edison,New Jersey,17,Northeast,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager
3,Michael Allio,36,Business Owner,Akron,Ohio,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager
4,Andrew Spencer,26,Pro Football Player,Lake Villa,Illinois,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager

In [12]:
df.to_csv(r'Season18.csv', header = True, index = False)

In [13]:
# create dummy variable for same region
df['Same Region']=((df['Region']==df['Lead Region']).astype(int))
df.head()

,Name,Age,Occupation,City,State,Season,Region,Lead Name,Lead Age,Lead City,Lead State,Lead Region,Lead Occupation,Same Region
0,Blake Moynes,30,Wildlife Manager,Hamilton,Ontario,17,Other,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0
1,Justin Glaze,26,Investment Sales Consultant,Ellicott City,Maryland,17,South,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0
2,Greg Grippo,27,Marketing Sales Representative,Edison,New Jersey,17,Northeast,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0
3,Michael Allio,36,Business Owner,Akron,Ohio,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0
4,Andrew Spencer,26,Pro Football Player,Lake Villa,Illinois,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0

In [14]:
df['Age Difference']=(abs((df['Age']-df['Lead Age'])).astype(int))

In [15]:
df.head()

,Name,Age,Occupation,City,State,Season,Region,Lead Name,Lead Age,Lead City,Lead State,Lead Region,Lead Occupation,Same Region,Age Difference
0,Blake Moynes,30,Wildlife Manager,Hamilton,Ontario,17,Other,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0,0
1,Justin Glaze,26,Investment Sales Consultant,Ellicott City,Maryland,17,South,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0,4
2,Greg Grippo,27,Marketing Sales Representative,Edison,New Jersey,17,Northeast,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0,3
3,Michael Allio,36,Business Owner,Akron,Ohio,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0,6
4,Andrew Spencer,26,Pro Football Player,Lake Villa,Illinois,17,Midwest,Katie Thurston,30,Renton,Washington,West,Bank Marketing Manager,0,4

In [16]:
df.to_csv(r'Season18.csv', header = True, index = False)